extends ../layout

block content
     div(class='card mb-2 mt-2')
          div(class='card-header')
               h3(class='card-title') Genre: #{genre.name}
          div(class='card-body')
               h5 Books
          ul(class='list-group list-group-flush')
               each book in genre_books
                    li(class='list-group-item')
                         a(href=book.url class='badge bg-dark')= book.title
                         p #{book.summary}
               else
                    li(class='list-group-item')
                         p This genre has no books
          div(class='card-footer')
               div(class='d-grid gap-2')
                    a(href=genre.url+'/delete' class='btn btn-danger') Delete
                    a(href=genre.url+'/update' class='btn btn-info') Update